/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Header ***********/

.hautdepage {
    display: flex;
    width: 100%;
   
}

.navhautdepage {
    display: flex;
    gap: 80px;
    margin-left: auto;
    margin-top: 16px;
    font-size: 1rem;
    font-weight: 400;
    width: 23.8%;
    justify-content: flex-end;
    
}
.navheberg {
    width: 32.84%;
    padding-top: 20px;
    box-sizing: border-box;
    padding-right: 110px;
    border-top: solid transparent;
    
}
.navactivit {
    width: 18.3%;
    padding-top: 20px;
    box-sizing: border-box;
    padding-right: 63px;
    border-top: solid transparent;
    
    
}
.navheberg:hover {
    
    color: var(--main-color);
    border-top: solid var(--main-color);
    box-sizing: border-box;
  
}

.navactivit:hover {
    
    color: var(--main-color);
    border-top: solid var(--main-color);
    box-sizing: border-box;
    
}
.logohautdepage { 
    margin-top: 30px;
    width: 4.2%;
}

/****** InfoRecherches ********/
.infoRecherches {
    margin-top: 35px;
    width: 93%;
    
}

.paragrapheun {
    font-size: 1rem;
    font-weight: 400;
}

.searchbar{
    width: 26%;
    height: 49px;
    display: flex;
    flex-direction: row;
    margin-top: 35px;
   box-sizing: border-box;
   

}

.buttonLoca {
    width: 13.2%;
    background-color: #d9d9d9;
    display: flex;
   justify-content: center;
   align-items: center;
   border-color: transparent;
   border-top-left-radius: 15px ;
   border-bottom-left-radius: 15px;
}

.buttonLoca i {
    color: black;
    
    
 }
 
 .champderecherche {
       display: flex;
       align-items: center;
      text-align: center;
      width: 60%;
      border: none;
      
 }

 .buttonLoca, .champderecherche, .buttonrecherche {        
    flex: none;  
} 

 .champderechercheVille {
    width: 100%;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 16px;
    box-sizing: border-box;
    
    
 }
 .champderechercheVille::placeholder { 
    color: black;
    text-align: center;
    font-size: 16px;
    
 }

 .buttonrecherche {
    display: flex;
    width: 26.8%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px ;
    background-color: var(--main-color);
    border-color: transparent;
    font-size: 16px;
    text-align: center;
    align-items: center;

 }

 .button-centre {
    width: 100%;
    text-align: center;
    color: white;
    background-color: var(--main-color);
    font-weight: bold;
    border-color: transparent;
    font-size: 16px;
    display: block;
    
 }

.buttonrecherche i {
    color: #d9d9d9;
    background-color: var(--main-color);
    display: none;
    align-items: center;
    text-align: center;
    
}


 /****** Filtres ********/
 
.partiefiltres {
    margin-top: 35px;
    display: flex;
    width: 56%;
    gap: 10px;
    margin-left: 8px;
    
}
.partiefiltres p {
    
    font-weight: 700;
    font-size: 18px;
    width: 7.12%;
    
    
}

.containerbutton {
    display: flex;
    gap: 10px;
    
}

/* Padding légerement modifié et réduit pour les cotés pour éviter le chevauchement avec le texte filtre mais aussi la sortie du boutton de l'écran quand on est juste avant le passage en mode tablette en largeur. */
.partiefiltres button {
    border-radius: 25px;
    font-weight: 700;
    font-size: 17px ;
    outline: none;
    border: 2px solid #d9d9d9;
    background-color: white;
    padding: 4px 15px 4px 15px;
    align-items: center;
    justify-content: space-around;
    white-space: nowrap;
    height: 50px;
    
}


.partiefiltres button:hover {

    background-color: var(--filter-bg-color);
}

button i {
    color: var(--main-color); 
    padding-right: 5px;
    
}

/* De base le margin est à 15 mais initiative à 20 pour éviter le chevauchement sur le texte "filtres" quand on réduit la largeur de l'écran avant de passer au mode tablette. */
.button1 {
    margin-left: 20px;
}

.infosurville {
    margin-top: 35px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    

}
.logoinfoville {
    border: 2px solid #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 1rem;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
   
}

.hebergementstitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.hebergementscarte1, .hebergementscarte2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 40px;
    
    

}


.hebergementscarte1 a, .hebergementscarte2 a {
    width: 30%;
    


}

/****** Initiative de la width pour éviter le débordement de texte quand on approche le breakpoint ******/

.hebergementscarte1 .card, .hebergementscarte2 .card  {
        margin-top: 33px;
        box-sizing: border-box;
        width: 110%;

}



.hebergementscarte1 img, .hebergementscarte2 img {
    object-fit: cover;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;

}

.hebergementscarte1 .contenucarte, .hebergementscarte2 .contenucarte {

    display: flex;
    flex-direction: column;
    box-sizing: border-box;
   
    
}

.hebergementscarte1 .card-txt, .hebergementscarte2 .card-txt {
    white-space: nowrap;
}

.hebergementscarte1 .card-rating, .hebergementscarte2 .card-rating {
    display: flex;
    margin-bottom: 5px;
    margin-top: 10px;
    
}

.afficherplus {
    width: 65%;
    margin-top: 35px;
    font-weight: bold;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/********** Activités **********/

.activites {

    width: 97%;
    margin-top: 35px;
    margin-left: 30px;
}
.activites h2 {
    width: 88.8%;
    
}

/****** la width devrait être à environ 93% mais initiative à 100 pour que l'image de droite soit bien alignés à la partie les plus populaires comme sur la maquette ********/
.sectionactivites {
    width: 100%;
    margin-top: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}


.activites a {
    height: 439px;
    width: 23%;

}
.sectionactivites img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 20px;

}

.activites h3 {
    margin-left: 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }


/********* Nav tablette ********/
    .logohautdepage {
        width: 5.9%;
    }


       /********* Barre de recherche **********/
    .buttonLoca, .champderecherche, .buttonrecherche {        
        flex: none;  
    } 
           
    .champderecherche {
        width: 85%;
    }    

    
    /*******Filtres *******/
    .partiefiltres {
        width: 65%;
       display: block;
       margin-bottom: 35px;
       
       
        
}

.button1 {
    margin-left: 0px;
}





}





/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {



    /*******... Test barre de recherche mobile *********/
    .button-centre {
        display: none;
        
    }

    .buttonrecherche i {
        display: block;
        
    }
 



}